body{
   background-color: #e6dac4; 
   font-family: Helvetica;
}

.portfolio{
    font-size: 60px;
}

h1{
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #31394D;
    overflow: hidden;
    font-size: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #e6dac4;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ceb49b;
    color: #31394D;
    font-size: 25px;
}

/* Add a color to the active/current link */
.topnav a.active {
    float: left;
    background-color: #ceb49b;
    color: #31394D;
    font-size: 25px;
}



/*Side navigation bar*/ 
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 210px;
    background-color: #31394D;
    float:right;
    overflow: hidden;
  }
  
.sidenav li a {
    display: block;
    color: #e6dac4;
    padding: 30px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
.sidenav li a:hover {
    background-color: #ceb49b;
    color: #31394D;
  }

  /*empty sidenav space*/
.empty a{
    color:#31394D
}

.empty li a:hover{
    background-color:#31394D;
    color:#31394D;
    padding: 30px 16px;
}

hr{
    background-color: #CBA67A;
    width: 40%;
    height: 5px;
    float: left;
    border: none;
}

.abcd {
    background-color: #CBA67A;
    width: 80%;
    height: 2.5px;
    float: left;
    border: none;
}

/*wild dunes image*/
.wild{
    width: 800px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.all a{
    color:black;
}

.all{
    font-size: 20px;
}

.dev{
    height: 500px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

