body{
   background-color: #e6dac4; 
}

.portfolio{
    font-size: 60px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #31394D;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #e6dac4;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ceb49b;
    color: #31394D;
    font-size: 25px;
}

/* Add a color to the active/current link */
.topnav a.active {
    float: left;
    background-color: #ceb49b;
    color: #31394D;
    font-size: 25px;
}



/*Side navigation bar*/ 
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 210px;
    background-color: #31394D;
    float:right;
    overflow: auto;
  }
  
.sidenav li a {
    display: block;
    color: #e6dac4;
    padding: 30px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
.sidenav li a:hover {
    background-color: #ceb49b;
    color: #31394D;
  }

  /*empty sidenav space*/
.empty a{
    color:#31394D
}

.empty a:hover{
    background-color:#31394D;
    color:#31394D;
    padding: 30px 16px;
}